[Unit]
Description=Initialize shared machine-id when /data/ becomes available
DefaultDependencies=no
Before=sysinit.target
After=data.mount
ConditionPathExists=/data
ConditionPathExists=!/data/machine-id

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c 'systemd-id128 new > /data/machine-id && chmod 444 /data/machine-id'

[Install]
WantedBy=sysinit.target
