# https://mediamtx.org/docs/usage/start-on-boot#linux

[Unit]
After=network.target
Wants=network.target

[Service]
ExecStart=/usr/local/bin/mediamtx /opt/PlanktoScope/os/mediamtx/mediamtx.yaml

[Install]
WantedBy=multi-user.target
