# https://mediamtx.org/docs/usage/start-on-boot#linux

[Unit]
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/opt/PlanktoScope/os/mediamtx
ExecStart=/usr/local/bin/mediamtx /etc/mediamtx.yaml

[Install]
WantedBy=multi-user.target
