[Unit]
Description=Update hostname
ConditionPathExists=/etc/hostname
Wants=generate-hostname.service
After=generate-hostname.service
Requires=systemd-hostnamed.service
After=systemd-hostnamed.service
Wants=network-pre.target
Before=network-pre.target
Before=avahi-daemon.service
Before=mediamtx.service
Before=cockpit.service

[Service]
Type=oneshot
ExecStart=/opt/PlanktoScope/os/machine-name/update-hostname.js

[Install]
WantedBy=multi-user.target
